
*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
}




.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.contents{
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);

}



.search-wrapper {
  position: relative;
  margin-top: 50px;
}

.form-control{
  padding:10px;
  font-size:18px;
  outline:none;
  width:500px;
  border: 1px solid #e1e1e1;
}

.form-control:focus{
  border-color: #80bdff;
}

.search-btn{
  position: absolute;
  right:0;
  color: white;
  background-color: green;
  line-height: normal;
  width: 50px;
  height: 100%;
  border: none;
}

.name{
  font-weight: 500;
  margin:0;
  display:-webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.result-item {
  background-color: #fff;
}


.result-item img{
  flex-shrink: 0;
  height: 100px;
  width: 80px;
  text-align: left;
  object-fit: contain;
}

.result-item .useage-info{
  margin-left: 10px;
  text-align: left;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
